Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea/.idea.AITest.dir/.idea/encodings.xml
.idea/.idea.AITest.dir/.idea/indexLayout.xml
.idea/.idea.AITest.dir/.idea/projectSettingsUpdater.xml
.idea/.idea.AITest.dir/.idea/workspace.xml
.idea/.idea.AITest/.idea/projectSettingsUpdater.xml
.idea/.idea.AITest/.idea/workspace.xml
